.need_a_developer h1{
    margin-top: 2rem !important;
    margin-bottom: 0;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}

.need_a_developer p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-top: 0;
    color: #000000;
}



@media screen and (max-width: 1150px) {
    .need_a_developer h1{
        margin-top: 1rem !important;
    }
}

@media screen and (max-width: 650px) {
    .need_a_developer h1{
        -webkit-text-stroke-width: 1px;
        font-size: 23px;
        line-height: 34px;
    }
    
    .need_a_developer p{
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        margin-top: 0;
        color: #000000;
    }
}