nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburger_menu{
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  outline: none;
}

.hamburger_menu div {
  width: 35px;
  height: 2px;
  background-color: #505050;
  margin: 2px 0;
  transition: 0.4s;
}
/* hamburger menu changes on click*/
.change.hamburger_menu div:nth-child(1){
  -webkit-transform: rotate(45deg) translate(-6px, 11px);
  transform: rotate(45deg) translate(-2px, 11px);
}

.change.hamburger_menu div:nth-child(3){
  -webkit-transform: rotate(-45deg) translate(-8px, -8px);
  transform: rotate(-45deg) translate(-8px, -6px);
  width: 35px;
}

.change.hamburger_menu div:nth-child(2){
  display: none;
}

.change.hamburger_menu span{
  display: none
}

/* hamburger menu styling */
.hamburger_menu div:nth-child(3){
  width: 17.5px;
}

.hamburger_menu span{
  margin: 0;
  font-size: 10px;
  color: #747374;
}

/* Active class */
/* LARGE SCREEN VIEW */

.navbar_overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transition: 0.4s;
  z-index: 990;
}

.navbar_overlay ul{
  position: fixed;
  top: 10vh;
  left: 38%;
  text-align: center;
}

.navbar_overlay ul li:not(.active){
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  margin: 2rem 0 1rem 0;
  line-height: 60px;
  list-style-type: none;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  letter-spacing: 0.05em;
  color: #000000;
}

.active{
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;
  margin: 2rem 0 1rem 0;
  line-height: 60px;
  list-style-type: none;
  letter-spacing: 0.05em;
  color: #000000;
  text-decoration: line-through;
}

.navbar_overlay ul li:last-child svg{
  margin: 10px;
}


.logo{
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-align: left;
}

nav{
  width: 70%;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem
}


/* Tablet view */
@media screen and (max-width: 1150px) {

  .navbar_overlay ul{
    left: 31%;
  }
}



/* mobile view */
@media screen and (max-width: 650px) {
  .logo{
    font-size: 16px;
  }

  .hamburger_menu div {
    width: 35px;
    height: 2px;
    background-color: #505050;
    margin: 2px 0;
  }

  nav{
    width: 80%;
    padding: 2rem 2rem 2rem 2rem
  }

  .navbar_overlay ul{
    position: fixed;
    top: 10vh;
    left: 0;
    text-align: left;
  }
  
  .navbar_overlay ul li:not(.active){
    font-weight: 500;
    font-size: 38px;
    letter-spacing: 0.05em;
  }

  .active{
    font-style: normal;
    font-weight: lighter;
    font-size: 38px;
    margin: 2rem 0 1rem 0;
  }
}