.footer{
    position:absolute;
    left:0;
    bottom: 50px;
    right:0;
}









/* Tablet view */
@media screen and (max-width: 1150px) {
  
    .footer_links{
        padding: 2rem 0 2rem 2rem
    }
    .footer_links svg{
        margin: 0 10px 0 10px;
    }
      

}
  
  
  
/* mobile view */
@media screen and (max-width: 650px) {

    .footer_links{
        padding: 2rem 0 2rem 2rem
    }
    .footer_links svg{
        margin: 0 10px 0 10px;
    }
      
}