.footer{
    /* position:absolute;
    left:0;
    right:0;
    z-index: 0; */
}

/* LARGER VIEW */
    .footer_links{
        padding: 2rem 2rem 2rem 14%
    }
    .footer_links svg{
        margin: 0 10px 0 10px;
    }

/* Tablet view */
@media screen and (max-width: 1150px) {
  
    .footer_links{
        padding: 2rem 2rem 1rem 7rem
    }
    .footer_links svg{
        margin: 0 10px 0 10px;
    }
      

}
  
  
/* mobile view */
@media screen and (max-width: 650px) {

    .footer_links{
        padding: 2rem 2rem 1rem 6%
    }
    .footer_links svg{
        margin: 0 10px 0 10px;
    }
      
}