@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App{
  /* background-image: url('../src/assets/background_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100); */
}

/* .background{
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(0.1px);
} */

/* Tablet view */
@media screen and (max-width: 1150px) {


}

/* mobile view */
@media screen and (max-width: 650px) {

}